<div class="container-fluide text-center">
    <div class="row">
        <div class="col-sm-10 text-left">
            <div class="form-clean">
                <form method="post">
                    <h2 class="text-center">Search and find your program</h2>
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="form-group"><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                    <div
                            class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                    </div>
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="form-group"><button class="btn btn-primary pull-right" type="submit">Search</button></div>
                </form>
                <div class="form-clean">
                    <form method="post">
                        <h2 class="text-center">Available Programs</h2>
                        <div class="form-group"><input class="form-control" type="search" placeholder="Search"></div>
                        <div class="text">
                            <div class="table-responsive table table-striped table-bordered table-hover">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Programm</th>
                                        <th>University</th>
                                        <th>Place</th>
                                        <th>Degree</th>
                                        <th>Type</th>
                                        <th>Duration</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Cell 1</td>
                                        <td>Cell 2</td>
                                        <td>Cell 2</td>
                                        <td>Cell 2</td>
                                        <td>Cell 2</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                        <td>Cell 4</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container-fluide text-center">
            <div class="row">
                <div class="col-sm-10 text-left">
                    <div class="form-clean">
                        <form method="post">
                            <h2 class="text-center">Search and find your program</h2>
                            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                            <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
                            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                            <div class="form-group"><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                            <div class="form-group">
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            </div>
                            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                            <div class="form-group"><button class="btn btn-primary pull-right" type="submit">Search</button></div>
                        </form>
                        <div class="form-clean">
                            <form method="post">
                                <h2 class="text-center">Available Programs</h2>
                                <div class="form-group"><input class="form-control" type="search" placeholder="Search"></div>
                                <div class="text">
                                    <div class="table-responsive table table-striped table-bordered table-hover">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Programm</th>
                                                <th>University</th>
                                                <th>Place</th>
                                                <th>Degree</th>
                                                <th>Type</th>
                                                <th>Duration</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Cell 1</td>
                                                <td>Cell 2</td>
                                                <td>Cell 2</td>
                                                <td>Cell 2</td>
                                                <td>Cell 2</td>
                                                <td>Cell 2</td>
                                            </tr>
                                            <tr>
                                                <td>Cell 3</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                            </tr>
                                            <tr>
                                                <td>Cell 3</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                            </tr>
                                            <tr>
                                                <td>Cell 3</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                                <td>Cell 4</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 sidenav">
                    <div class="well">
                        <p>Nice Bikes</p>
                        <p>New Iphone</p>
                        <p>Some more Ads</p>
                    </div>
                </div>
            </div>
        </div>